@media screen and (min-width:430px){
    header{
      display:flex;
      width: 100%;
      flex-direction: column;
      height: auto;
    }
  
    .sidenav{
      display: none;
      
    }
  
    h1{
      font-size: 90px;
    }
  
    .h2marron{
      font-size: 40px;
    }
  
    .contenuhomepage{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin-bottom: 150px;
      width: 80%;
      height: auto;
      position: relative;
      top: 100px;
    }
  
    .offredelasemaine{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: auto;
      position: relative;
      left: -250px;
     
    }
  
    .pokgourmet{
      width: 40%;
    }
    
    .offre{
      padding-left: 150px;
      padding-right: 50px;
    }
}
  
@media screen and (max-width:429px){
    .navbarweb{
    display:none
    }
    
    .pgourmet{
      display: none; 
    }
}